<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid mt-5 navbar-style py-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" id="logo">CORONA  PRECAUTIONS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutid">ABOUT US</a>
      </li>
       
       <li class="nav-item">
        <a class="nav-link" href="#serviceid">SERVICES</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="takers.hbs">TAKERS</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="doners.hbs">DONERS</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#contactid">CONTACT US</a>
      </li>
      
    </ul>
    
  </div>
</nav>
 </div>
    </div>

  </div>
  <p>
    </p>
    <p>
      </p>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="image/k.jpg" class="img-fluid" alt="herosection_image">
              </figure>
            </div>
        <div class="col-md-6 col-12 hero-text order-md-0 order-1  justify-content-center align-items-start flex-coloumn">
          <h2> HELP FOR CORONA PAITIENTS </h2>
          <h3> GIVE YOUR REQUESTS HERE </h3>
          <p> We will help you. We are the team of <span class="bold-style"> Youth </span></p>
          <button class="btn-style btn-primary">Read more</button>
          </div>
          
        </div>
      </div>
    </div>

  </div>
  
  <div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">

    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">We are here to provide help</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="image/l.jpg" class="img-fluid" alt="herosection_image">
              </figure>
            </div>
        <div class="col-md-6 col-12 hero-text ">
         
          
          <p> Our website  <span class="bold-style"> corona precautions </span>will help you to get the helpline numbers of various places that will help you in this pandemic. we are here with you to help your loved ones and you by providing the details of people who are willing to donate and here you can be the reciepent and the mighty doner </p>
          <button class="btn-style btn-primary">Read more</button>
          </div>
          
        </div>
      </div>
    </div>

  </div>

   <div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">

    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Services</h1>
      <p class="text-center sub-heading">HELPLINES ARE:</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="image/f.jpg" class="img-fluid" alt="herosection_image">
              </figure>
            </div>
        <div class="col-md-6 col-12 hero-text ">
         
          
          <h3>   <div class="bold-style"> Ambulance: 123</div><div class="bold-style"> Ambulance: 123</div><div class="bold-style"> Ambulance: 123</div><div class="bold-style"> Ambulance: 123</div></h3>
          <button class="btn-style btn-primary">Read more</button>
          </div>
          
        </div>
      </div>
    </div>

  </div>
  {{>maps}}
  {{>contact}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src ="../js/bootstrap.js" type="text/javascript"></script>

    
</body>
</html>